
@{
    ViewBag.Title = "DailyEnglishAdd";
}


<script type="text/javascript">

</script>
@using Siyouku.Model.Database
@model DailyEnglish

<form class="form-horizontal" id="comform">
    <div class="form-group">
        @Html.LabelFor(i => i.ContentCn, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(i => i.ContentCn, new { @class = "form-control", placeholder = "中文内容" })
        </div> 
        
       
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.ContentEg, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(i => i.ContentEg, new { @class = "form-control", placeholder = "英文内容" })
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="wenqing.add('comform','@Url.Action("DailyEnglishAdd")');">提交</button>

    <button type="button" class="btn btn-primary" onclick="wenqing.tabclose('@Url.Action("DailyEnglishAdd")','@Url.Action("Index","DailyEnglish")')">返回</button>
    @*}*@
</form>






