
@{
    ViewBag.Title = "Index";
}

<div id="toolbar" class="btn-group">
    <button id="btn_add" type="button" class="btn btn-primary btn-sm" onclick="wenqing.tabadd('新增友情链接','@Url.Action("LinksAdd")');">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>
    <button id="btn_edit" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
    </button>
    <button id="btn_delete" type="button" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
    <button id="btn_gotop" type="button" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>置顶
    </button>
</div>
<table id="tb_departments"></table>
<script type="text/javascript">
    $(function () {

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

    });


    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({
                url: '@Url.Action("GetLinksJson")',  //请求后台的URL（*）
                method: 'get',   //请求方式（*）
                toolbar: '#toolbar',  //工具按钮用哪个容器
                striped: true,   //是否显示行间隔色
                cache: false,   //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,   //是否显示分页（*）
                sortable: false,   //是否启用排序
                sortOrder: "asc",   //排序方式
                singleSelect:true,
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",  //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,   //初始化加载第一页，默认第一页
                pageSize: 10,   //每页的记录行数（*）
                pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
                search: true,   //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,   //是否显示所有的列
                showRefresh: true,   //是否显示刷新按钮
                minimumCountColumns: 2,  //最少允许的列数
                clickToSelect: true,  //是否启用点击选中行
                height: wenqing.getHeight(),   //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",   //每一行的唯一标识，一般为主键列
                showToggle: true,   //是否显示详细视图和列表视图的切换按钮
                cardView: false,   //是否显示详细视图
                detailView: false,   //是否显示父子表
                columns:  [
                    {checkbox: true},
                    {field: 'Id',title: '标签编号'},
                    {field: 'LinkName',title: '链接名称'},
                    { field: 'LinkImg',title: '图片'},
                    { field: 'LinkUrl',title: '链接地址'},
                    { field: 'LinkSort',title: '排序'},
                    {field: 'CreateTime',title: '创建时间'},
                    {field: 'CreateUser',title: '创建人'}
                ]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit, //页面大小
                offset: params.offset, //页码
                search: params.search
            };
            return temp;
        };


        return oTableInit;
    };


    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            $("#btn_delete").click(function () {
               wenqing.delete('@Url.Action("LinkDelete")', 'tb_departments');
            });

            $("#btn_add").click(function () {
                //--
                //wenqing.tabadd("新增标签", '@Url.Action("LinksAdd")');
            });
            $("#btn_edit").click(function () {
                var selRows = $('#tb_departments').bootstrapTable('getSelections');
                if (selRows.length == 0) {
                    layer.msg('请选择要修改的数据!');
                    return;
                };
                wenqing.tabadd("修改友情链接", '@Url.Action("LinkEdit")/'+selRows[0].Id);
            });
            
            $("#btn_gotop").click(function () {
                var selRows = $('#tb_departments').bootstrapTable('getSelections');
                if (selRows.length == 0) {
                    layer.msg('请选择要修改的数据!');
                    return;
                };
                $.ajax({
                    type: "post",
                    url: '@Url.Action("GoTop")/' + selRows[0].Id,
                    contentType: "application/json;charset=UTF-8",
                    beforeSend: function () {//等待效果
                        //CreateWaitDiv();
                    },
                    complete: function () {//去除等待效果
                        //RemoveWaitDiv();
                    },
                    data: JSON.stringify(postdata),
                    success: function (data) {
                        data = JSON.parse(data);
                        if (data.Code===0) {
                            layer.msg(data.Msg);
                            $("#tb_departments").bootstrapTable('refresh');
                        } else {
                            layer.msg(data.Msg);
                        }
                    },
                    error: function (xhr, a, b) { alert(xhr.responseText); }
                });


            });
        };

        return oInit;
    };

</script>
